<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edege">
	<title>DigiCoin</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="datatravel.js"></script>
</head>
<body>
	<nav>
		<div class="container navbar">
			<div class="boxLogo">
				<img src="/img/moneda.png"><h2>DigiCoin</h2>
			</div>
			<div class="ulNav">
				<li><a href="crear_transferencia" id="crearTransferencia">+ Transferencia</a></li>
			</div>
		</div>
	</nav>
	<main>
		<aside>
			<div class="user_profile">
				<section class="imgUser">	
				<img src="img/elliot.png" alt="">
				</section>
				<section class="infoUser">	
				<h3>Elliot Alderson</h3>
				<p>Cartera: <%= dinero%> Digi's</p>
				</section>
			</div>
			<div class="container">
				<ul class="options">	
					<li>Bloques</li>
					<li>Transferencias</li>
					<li>Minar</li>
					<li><a href="configuracion" id="Cconfiguracion">Configuracion</a></li>
				</ul>
			</div>
		</aside>	

		<div class="mainDiv">
			<div class="bloques">
				<h3>Bloques</h3>
				<div class="divTH">
					<ul>	
						<li class="">#</li>
						<li class="borderRL small">Hash</li>
						<li class="borderRL">Fecha</li>
						<li class="">Minero</li>
					</ul>
					<% for(let i = 0;i< bloque.length;i++){ %>
					<ul>	
						<li class=""><%=bloque[i].id%></li>
						<li class="borderRL small"><%=bloque[i].acthash%></li>
						<li class="borderRL"><%=bloque[i].fechaCreacion.toDateString()%></li>
						<li class=""><%=bloque[i].id_Minero%></li>
					</ul>
					<%}%>
				</div>
			</div>
			

			<div class="transaccionesPendientes">
				<h3>Bloques Pendientes por minar</h3>
				<hr>	
				<div class="divTH">
					<form action="/minar" method="post">
					<%for(let i = 0;i< bloqueF.length;i++) {%>
					<input type="text" name="idBloque" class="hidden" value='<%=i+1%>'>
					<div class="bloquePendiente">
						<h3>Bloque <%=i+1%></h3>
						<ul>	
						<li class="">#</li>
						<li class="borderRL small2">Origen</li>
						<li class="borderRL">Destino</li>
						<li class="borderRL">Cantidad</li>
						<li class="borderRL">Fecha</li>
						<li class="">Aprobado</li>
					</ul>
					<%for(let j = 0;j<= 10;j++){%>
					<%if(trans[j] !== undefined){%>
					<ul>	
						<li class=""><%=trans[j].idTrans%></li>
						<li class="borderRL small2">YO</li>
						<li class="borderRL"><%=trans[j].destino%></li>
						<li class="borderRl"><%=trans[j].cantidad%></li>
						<li class="borderRL">4/21/2020</li>
						<li class="">SI</li>
					</ul>
					<%}%>
					<%}%>
					
					<input type="submit" class="button" value="Minar">
					</form>
					</div>
					<%}%>
				</div>
			</div>
		</div>
	</main>
</body>
	<script></script>
</html>